<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Registrarse</title>
		<link rel="shortcut icon" href="/static/images/icono.jpg" /> 
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>
		<div class="register">
			<h1>Registrarse</h1>
			<div class="links">
				<a href="{{ url_for('login') }}">Iniciar Sesión</a>
				<a href="{{ url_for('register') }}" class="active">Registrarse</a>
			</div>
			<form action="{{ url_for('register') }}" method="post" autocomplete="off">		
                <label for="usuario">
					<i class="fas fa-id-card"></i>
				</label>
				<input type="text" name="usuario" placeholder="Usuario" id="usuario" required>
                <label for="password">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="password" placeholder="Contraseña" id="password" minlength="5" maxlength="10" required>
				<label for="nombre">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="nombre" placeholder="Nombre" id="nombre" required>
				<label for="apellido">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="apellido" placeholder="Apellido" id="apellido" required>
				<label for="localidad">
					<i class="fas fa-map-marker-alt"></i>
				</label>
				<input type="text" name="localidad" placeholder="Localidad" id="localidad" required>
				<div class="msg-error">{{ error }}</div>
				<input type="submit" value="Registrarse">
			</form>
		</div>
	</body>
</html>